html{
    height: auto;
    min-height: 100%;
}

body{
    background: rgb(85,44,198);
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(35deg, rgba(85,44,198,1) 23%, rgba(0,163,200,1) 100%);
}

#header{
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

#logo{
    width: 150px;
}

#video-wrapper {
    width: 60vw;
    height: 60vw;
    max-width: 400px;
    max-height: 400px;
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 15px 20px  rgb(243, 243, 243);
    align-content: center;
}

#video-row{
    width: 100vw;
    position: relative;
    align-items: center;
    margin-bottom: 40px;
}

video {
    object-fit: cover;
    width: 60vw;
    height: 60vw;
    margin: 0 auto;
    display: flex;
}

#info {
    display: flex;
    width: 100%;
    height: 30vh;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

#button-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

#button-card {
    width: 20vw;
    height: 10vw;
    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10%;
    font-size: 2vh;
}

#dropdown-card {
    width: 20vw;
    height: 10vw;
    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10%;
    border-color: rgb(243, 243, 243);
    border-style: solid;
    border-width: 1px;
    color: rgb(243, 243, 243);
    background-color:  rgb(243, 243, 243, 0);
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin-left: 4vh;
    font-size: 2vh;
}

#output-wrapper{
    width: 100vw;
    position: relative;
}

#output-card {
    width: 20vw;
    height: 10vw;
    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10%;
    border-color: rgb(243, 243, 243);
    border-style: solid;
    border-width: 1px;
    color: rgb(243, 243, 243);
    background-color:  rgb(243, 243, 243);
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin-left: 4vh;
    font-size: 2vh;
    color: black;
    margin: 0 auto;
}






